domain: ""
acme_email: ""
ci_ssh_public_key: ""
pg_admin_database: ""
pg_admin_username: ""
pg_admin_password: ""
pg_keycloak_database: ""
pg_keycloak_username: ""
pg_keycloak_password: ""
keycloak_admin_username: ""
keycloak_admin_password: ""
keycloak_admin_allowed_ips: ""
