DOMAIN={{ domain }}
ACME_EMAIL={{ acme_email }}
TASKS_PORT={{ tasks_port }}
LOG_FORMAT={{ log_format }}
LOG_LEVEL={{ log_level }}
PG_ADMIN_DATABASE={{ pg_admin_database }}
PG_ADMIN_USERNAME={{ pg_admin_username }}
PG_ADMIN_PASSWORD={{ pg_admin_password }}
PG_KEYCLOAK_DATABASE={{ pg_keycloak_database }}
PG_KEYCLOAK_USERNAME={{ pg_keycloak_username }}
PG_KEYCLOAK_PASSWORD={{ pg_keycloak_password }}
KEYCLOAK_ADMIN_USERNAME={{ keycloak_admin_username }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
KEYCLOAK_ADMIN_ALLOWED_IPS={{ keycloak_admin_allowed_ips }}
