DOMAIN={{ domain }}
ACME_EMAIL={{ acme_email }}
ZITADEL_ISSUER={{ zitadel_issuer }}
ZITADEL_AUTH_URL={{ zitadel_auth_url }}
ZITADEL_TOKEN_URL={{ zitadel_token_url }}
ZITADEL_JWKS_URL={{ zitadel_jwks_url }}
ZITADEL_MCP_CLIENT_ID={{ zitadel_mcp_client_id }}
TASKS_PORT={{ tasks_port }}
AUTH_PORT={{ auth_port }}
LOG_FORMAT={{ log_format }}
LOG_LEVEL={{ log_level }}
